.home-section {
  position: relative;
  padding-bottom: 60px;
}
.local-playlist-container {
  border-top: 1px solid var(--border-color);
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primary-text-color);
}
.local-playlist-container p {
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
}
.playlist-delete-btn {
  border: none;
  background: none;
  width: 25px;
  height: 25px;
  color: var(--primary-text-color);
  cursor: pointer;
}
