.player-controls-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player-progress-bar-wrapper {
  width: 80%;
  height: 5px;
  background: gray;
  border-radius: 5px;
  position: relative;
}

.player-progress {
  width: 0%;
  height: 100%;
  background: var(--primary-text-color);
  border-radius: inherit;
}
.player-progess-thumb{
  width: 15px;
  height: 15px;
  background: var(--primary-text-color);
  position: absolute;
  top: -5px;
  /* left: 66px; */
  border-radius: 50%;
}

.player-durations-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 5px 0;
}
.audio-play-pause-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.audio-play-pause {
  width: 50px;
  height: 50px;
}
.next-prev-icons{
  width: 30px;
  height: 30px;
}

.loading-spin {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  animation: rotate 3s linear infinite;

}

.svg-circle {
  stroke-dasharray: 150;
  stroke: var(--primary-text-color);
  stroke-width: 5px;


}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}


.audio-volume-wrapper {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.volume-input{
  accent-color: white;
  height: 5px;
  outline: none;
  width: 80%;
}

.audio-autoplay-wrapper{
    position: absolute;
    bottom: 10px;
    right: 20px;
   
}
.audio-autoplay {
  position: relative;
  display: block;
 width: 45px;
 height: 10px;
}

.audio-autoplay input{
  opacity: 0;
  width: 0;
  height: 0;
}
.autoplay-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff78;
  -webkit-transition: .4s;
  transition: .4s ease-in-out;
  border-radius: 20px;;
}

/* .autoplay-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -5px;
  background: var(--primary-text-color);
  transition: 0.4s ease-in-out;
  border-radius: 50%;
} */

.autoplay-icons {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.4s ease-in-out;
}

input:checked + .autoplay-slider {
  background-color: #ffffff78
}

input:focus + .autoplay-slider {
  /* box-shadow: 0 0 1px #2196F3; */
}

input:checked + .autoplay-slider .autoplay-icons {
  transform: translateX(26px);
}