.explore-list-container {
  padding: 10px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.explore-list-container h1 {
  font-size: 25px;
  font-weight: 600;
  padding: 0 10px;
}

.explore-card-list {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  padding: 10px;
}

@media (max-width: 426px) {
  .explore-list-container h1 {
    font-size: 20px;
  }
}
