.explore-container {
  color: var(--primary-text-color);
}

.explore-inside {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  margin: 10px 0;
}
.explore-container h2 {
  font-size: 25px;
  font-weight: 600;
  padding: 0 5px;
}

@media (max-width: 426px) {
  .explore-section {
    margin-top: 0;
  }
  .explore-container h2 {
    font-size: 20px;
  }
}
