.player-controls-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.player-progress-bar-wrapper {
  width: 100%;
}

input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  background: rgb(144 144 144 / 50%);
  height: 8px;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 8px;
  width: 8px;
  background: var(--gradient);
  border-radius: 50%;
  border: 1px solid var(--primary-text-color);
  box-shadow: -404px 0 0 400px var(--primary-text-color);
  transition: 0.2s ease-in-out;
}
input[type="range"]::-moz-range-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 8px;
  width: 8px;
  background: var(--gradient);
  border-radius: 50%;
  border: 1px solid var(--primary-text-color);
  box-shadow: -404px 0 0 400px var(--primary-text-color);
  transition: 0.2s ease-in-out;
}
.seekbar {
  position: relative;
  z-index: 1;
  --buffered-width: 0px;
}
.seekbar::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0;
  width: var(--buffered-width);
  height: 100%;
  background: #8e8e8e;
  border-radius: inherit;
  z-index: -1;
}

.player-durations-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.audio-play-pause-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.audio-play-pause {
  width: 50px;
  height: 50px;
  border: none;
  background: none;
}

.next-prev-icons {
  width: 30px;
  height: 30px;
}

.loading-spin {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -5;
  animation: rotate 3s linear infinite;
}

.svg-circle {
  stroke-dasharray: 150;
  stroke: var(--primary-text-color);
  stroke-width: 5px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.audio-volume-wrapper {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 90px;
}

.audio-volume-btn {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}
.audio-autoplay-wrapper {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.audio-autoplay-title {
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--primary-text-color);
}

.audio-autoplay {
  position: relative;
  display: block;
  width: 45px;
  height: 10px;
}

.audio-autoplay input {
  opacity: 0;
  width: 0;
  height: 0;
}

.autoplay-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff78;
  -webkit-transition: 0.4s;
  transition: 0.4s ease-in-out;
  border-radius: 20px;
}

.autoplay-icons {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.4s ease-in-out;
}

input:checked + .autoplay-slider {
  background-color: #ffffff78;
}

input:checked + .autoplay-slider .autoplay-icons {
  transform: translateX(26px);
}

@media (max-width: 426px) {
  .player-controls-container {
    width: 90%;
  }
}
