.heroBanner-section.container {
  margin: auto;
}

.heroBanner-wrapper {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.hero-image-wrapper {
  width: 100%;
  height: 500px;
  background: var(--primary-bg);
}
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.slick-next,
.slick-prev {
  width: 35px !important;
  height: 35px !important;
  z-index: 5 !important;
}
.slick-next {
  right: 10px !important;
}
.slick-prev {
  left: 10px !important;
}

.slick-next:before,
.slick-prev:before {
  font-size: 40px !important;
}

@media (max-width: 426px) {
  .hero-image-wrapper {
    height: 200px;
  }
  .slick-next,
  .slick-prev {
    width: 20px;
    height: 20px;
  }
  .slick-next:before,
  .slick-prev:before {
    font-size: 25px;
  }
}
