@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d0d0d;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-snap-stop: always;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1800px;
}
.page-container {
  width: 100%;
  margin: 5rem auto;
  padding: 0 1rem;
  max-width: 1200px;
}
