.header-nav-container {
  position: relative;
}

.header-section {
  background: rgb(0 0 0 / 50%);
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(6px);
  z-index: 10;
}

.header-container.container {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 65px;
}

.header-logo-wrapper {
  width: 180px;
  height: 50px;
}
.header-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-search-wrapper {
  margin: auto;
  width: 400px;
  display: flex;
  background: var(--primary-text-color);
  border-radius: 15px;
}
.search-icon-wrapper {
  padding: 10px 0px 10px 10px;
  width: 40px;
  height: 40px;
}
.search-input {
  width: 100%;
  padding: 7px 10px;
  font-size: 17px;
  border-radius: 15px 0 0 15px;
  border: none;
  outline: none;
}
.search-btn {
  border: none;
  border-radius: 0 15px 15px 0;
  background: var(--gradient);
  outline: none;
  color: var(--primary-text-color);
  padding: 0 10px;
}

.mobile-search-icon {
  display: none;
}

.refress-data-wrapper {
  position: absolute;
  width: 42px;
  height: 100%;
  overflow: hidden;
}
.refress-data-wrapper .header-logo {
  width: auto;
}

.rotate-logo {
  transition: rotate 3s ease-in-out;
  animation: rotate 5s;
}
@keyframes rotate {
  50% {
    transform: rotate(360deg);
  }
}

/* bottom navigation */

.bottom-nav-container {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #071120;
  z-index: 10;
  width: 100%;
  border-top: 1px solid var(--border-color);
}
.bottom-nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  height: 65px;
  padding: 0 10px;
}
.bottom-nav-link {
  text-decoration: none;
  color: var(--primary-text-color);
  height: 45px;
  gap: 5px;
  border-radius: 10px;
  padding: 10px;
}
.bottom-nav-link.active-link {
  background: var(--gradient);
}

.bottom-nav-text {
  display: block;
  font-weight: bold;
  font-size: small;
}

/* responsive css */
@media (max-width: 426px) {
  .header-section {
    position: sticky;
  }
  .header-container.container {
    justify-content: space-between;
  }
  .mobile-search-icon {
    display: block;
  }

  .header-search-wrapper {
    position: absolute;
    bottom: 75px;
    width: 90%;
    transition: all 0.5s ease-in-out;
  }
  .mobile-search {
    bottom: -40px;
  }

  .bottom-nav-text {
    display: none;
  }
}
