.player-page-section {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: var(--secondary-bg);
  z-index: 10;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}
.miniplayer-active {
  height: 70px;
  overflow: hidden;
  bottom: 65px;
}

.top-player-controll-wrapper {
  display: flex;
  padding: 20px 20px 0;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.player-minimize-wrapper {
  border: none;
  background: none;
  width: 25px;
  height: 25px;
  color: var(--primary-text-color);
  filter: drop-shadow(2px 4px 6px var(--border-color));
}

.player-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}

.hide-main-player {
  transform: translateY(600px);
  padding: 0px;
  height: 0;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: var(--primary-text-color);
  width: 500px;
  border: 1px solid var(--border-color);
  padding: 10px 0;
  padding-bottom: 15px;
  border-radius: 10px;
  position: relative;
  background: rgb(0 0 0 / 70%);
  backdrop-filter: blur(5px);
}

.player-song-title-channel-wrapper {
  flex-direction: column;
  width: 80%;
  overflow-x: hidden;
}

.player-song-title {
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
}
.player-song-title-scrolling {
  animation: scrollingTitle 15s linear infinite;
}

@keyframes scrollingTitle {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.player-song-channel {
  font-size: 14px;
  opacity: 0.7;
  margin: 5px;
}

.alert-message-wrapper {
  position: absolute;
  bottom: 15px;
  background: var(--primary-text-color);
  color: var(--primary-bg);
  padding: 5px 8px;
  border-radius: 10px;
  text-transform: capitalize;
  width: 80%;
}
.alert-message {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.alert-message button {
  cursor: pointer;
  background: red;
  color: white;
  border: none;
  padding: 2px;
  border-radius: 5px;
}

@media (max-width: 426px) {
  .player-container {
    width: 90%;
    padding-bottom: 35px;
  }
  .player-song-title-channel-wrapper {
    width: 90%;
  }

  .alert-message-wrapper {
    bottom: -40px;
  }
}
