.player-section {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background: var(--secondary-bg);
  z-index: 10;
  height: 100%;
  /* overflow-y: scroll; */
  /* scrollbar-width: none; Firefox */
}
.miniplayer-active {
  height: 70px;
  overflow: hidden;
  bottom: 65px;
  transition: all 0.5s ease-in-out;
}

.top-player-controll-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 10px auto;
  gap: 2rem;
}

.player-minimize-wrapper {
  border: none;
  background: none;
  width: 25px;
  height: 25px;
  color: var(--primary-text-color);
  filter: drop-shadow(2px 4px 6px var(--border-color));
}

.main-player {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  transition: all 0.5s ease-in-out;
  margin: 0 auto;
}

.hide-main-player {
  transform: translateY(600px);
  padding: 0px;
  height: 0;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: var(--primary-text-color);
  width: 500px;
  border: 1px solid var(--border-color);
  padding: 10px 0;
  border-radius: 10px;
  position: relative;
  background: rgb(0 0 0 / 30%);
  backdrop-filter: blur(5px);
}

.player-container-inner {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  width: 80%;
  position: relative;
}

.player-song-title-channel-wrapper {
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

.player-song-title {
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  white-space: nowrap;
  font-size: 20px;
}
.player-song-title-scrolling {
  animation: scrollingTitle 15s linear infinite;
}

@keyframes scrollingTitle {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.player-song-channel {
  font-size: 14px;
  opacity: 0.7;
  margin: 5px;
}

.alert-message-wrapper {
  position: absolute;
  bottom: 50px;
  background: var(--primary-text-color);
  color: var(--primary-bg);
  padding: 5px 8px;
  border-radius: 10px;
  text-transform: capitalize;
  z-index: 2;
}
.alert-message {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.alert-message button {
  cursor: pointer;
  background: red;
  color: white;
  border: none;
  padding: 2px;
  border-radius: 5px;
}
.announcement-content {
  text-align: center;
  background: var(--secondary-bg);
  padding: 3px 10px;
  border-radius: 10px;
  font-size: small;
}
.announcement-content a {
  color: white;
  text-underline-offset: 2px;
}

@media (max-width: 426px) {
  .player-container {
    width: 100%;
    background: none;
    border: none;
    gap: 15px;
    padding: 0;
  }
  .player-container-inner {
    width: 100%;
    gap: 15px;
  }
}
