.search-result-container {
  margin-top: 65px;
}
.search-result-container .view-all {
  display: none;
}
.search-result-container .songs-channel {
  display: block;
  text-align: center;
  opacity: 0.7;
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 426px) {
  .search-result-container {
    margin-top: 0;
  }
  .search-result-container .songs-list-wrapper {
    flex-direction: column;
  }
  .search-result-container .songs-card-wrapper {
    width: 100%;
    max-width: 320px;
  }
  .search-result-container .songs-image-wrapper {
    height: 180px;
  }
}
