.search-result-container {
  margin-top: 65px;
}
.search-result-container .view-all {
  display: none;
}

@media (max-width: 426px) {
  .search-result-container {
    margin-top: 0;
  }
  .search-result-container .songs-list-wrapper {
    flex-direction: column;
  }
  .search-result-container .songs-card-wrapper {
    width: 100%;
  }
  .search-result-container .songs-image-wrapper {
    height: 180px;
  }
}
