@import "./common/variable.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

body {
  background-color: #000;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-snap-stop: always;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* common classes */
.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-center {
  display: flex;
  align-items: center;
}
.cur-pointer {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
}

.hide {
  display: none;
}
.model-overlayer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* bg poster of song */
.bg-poster-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
  filter: blur(20px);
  z-index: -5;
}
.bg-poster-wrapper .bg-poster-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
