@import "./common/variable.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

body {
  background-color: #04152d;
}

::-webkit-scrollbar {
  display: none;
}

/* common classes */
.absolute-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-center {
  display: flex;
  align-items: center;
}
.cur-pointer {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  padding: 0 20px;
}

.hide {
  display: none;
}
